.productdiscovery-results{
    margin-top: 1rem;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 0.5rem;
}
.productdiscovery-results .secondary-productdiscovery-results{
    opacity: 0.8;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    gap: 10px;
    overflow: auto;
    height: 27px;
    line-height: 1;
}
.secondary-productdiscovery-results div{
    flex-shrink: 0;
    border: 1px solid var(--border-color);
    padding-inline: 5px;
    padding-block: 4px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}
.cancelResult{
    cursor: pointer;
}
.cancelResult:hover{
    transform: scale(1.2);
}
