/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modalOverlay-backgroundcolor); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: var(--modalContent-backgroundcolor);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px var(--modalContent-boxShadow);
    position: relative;
    transform: scale(0);
    animation: modalanimation 0.2s linear forwards;
}
.modal-content  *{
    background-color: var(--modalContent-backgroundcolor);
}
@keyframes modalanimation {
    to{
        transform: scale(1);
    }
}

