.taskdetailsform{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.taskdetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.taskdetails input{
    height: 2.5rem;
    
}
.taskdetails textarea,.taskdetails input{
    border-radius: 5px;
    border: 1px solid var(--border-color) ;
    padding: 10px;
    background-color: inherit;
    color: var(--color);
}
.actionbuttons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.actionbuttons button{
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--buttonBackground-color);
    color: var(--color);
}
.savebtn-not-allowed{
    cursor: not-allowed;
    opacity: 0.3;
}





.field{
    display: flex;
    position: relative;
}

.field input{
    flex-grow: 1;
    padding-right: 10%;
}

.field .mic{
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: red;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;    
}
.mic-listening{
    box-shadow: 0 0 0 0px rgb(194, 174, 174) ;
    animation: sound 1000ms linear infinite alternate;
}
@keyframes sound {
   to{
    box-shadow: 0 0 2px 2px rgb(172, 158, 158) ;
   }
}

