:root{
  --border-color:black;
  --buttonBackground-color:transparent;
  --background-color:white;
  --color: black;
}
/* :root{
  --border-color:white;
  --buttonBackground-color:transparent;
  --background-color:black;
  --color: white;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root {
    max-width: 680px;
    margin: 10px auto;
    padding: 1rem;
    border: 1px solid var(--border-color);
  }
button{
    cursor: pointer;
  }
 