.searchby-option{
    position: relative;
}
.searchby-option > button{
    border: 1px solid var(--border-color);
    background-color: var(--buttonBackground-color);
    color: var(--color);
    padding: 0.5rem 1rem;
}
/* .searchby-modal{
    position: absolute;
    top: 0px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
} */